{% extends 'htmlbase_layout.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}


	<div class="slider-wrap">
		<div class="fullwidthbanner-container" >
			<div class="fullwidthbanner">
				<ul>
					{% for image in image_object %}
					      <li data-transition="random" data-slotamount="7" data-masterspeed="1000">

								<img src="{{image.category_image.url}}" alt="slide" >

								<div class="tp-caption large_black sfr" data-x="120" data-y="160" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
									style="font-size: 70px; font-weight: 700; text-transform: uppercase; color: #212121;font-family: cabin;text-shadow:0px 0px 3px #000;">
									{{object}}
								</div>
								<div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="280" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
									style="">
									<img src="{% static 'images/sep-b2.png' %}" alt="" />
								</div>
						  </li>
					{% endfor%}
				</ul>
			</div>
		</div>
	</div>
	<div class="breadcumb_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="bread_box">
						<ul class="breadcumb">
							<li><a href="/">home <span>|</span></a></li>
							<li><a href="/">Shop <span>|</span></a></li>
							<li><a href="/">Category <span>|</span></a></li>
							<li class="active"><a href="/category/{{object.slug}}/">{{object}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="filter_area">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<div class="filter_box_left">
						<p>FILTERING:</p>
						<div class="filter_cont">
							<ul>
								<li><a href="category-1.html">on</a></li>
								<li><img src="images/filter_ico.png" alt="" /></li>
								<li><a href="category-2.html">off</a></li>
							</ul>
						</div>
						<div class="s_results">
							<p><span>|</span> showing 1-12 of 30 results</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-4 col-xs-12">
					<div class="filter_box_right">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by newness <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Top Seller </a></li>
							<li><a href="#">Most Popular</a></li>
							<li><a href="#">Alphabetically</a></li>                        
							<li><a href="#">Older First</a></li>                        
						  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="main_category_area">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="main_category_left">
					
						<div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								  CATEGORIES
								  <span class="floatright"><i class="fa fa-minus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							  <div class="panel-body">
								<ul id="c_tab1">
									<li><a href="">Blazers  (12)</a></li>
									<li><a href="">Pants & Trousers  (54)</a></li>
									<li><a href="">Shirts  (105)</a></li>
									<li><a href="">Suits & Tailors  (48)</a></li>
									<li><a href="">T-shirts  (120)</a></li>
									<li><a href="">Underwear  (12)</a></li>
									<li><a href="">Jackets & Coats (12)</a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								  PRICE FILTER
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							  <div class="panel-body">
								<div id="slider-range"></div>
									<div class="cat_filter_box">
										<p>
										  <label for="amount">Filter</label>
										  <input type="text" id="amount" readonly style="border:0; color:#000; font-weight:bold;">
										</p>
									</div>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  COLOURS
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							  <div class="panel-body colors_cat">
								<ul id="cat_color">
									<li><a class="col-1" href=""></a></li>
									<li><a class="col-2" href=""></a></li>
									<li><a class="col-3" href=""></a></li>
									<li><a class="col-4" href=""></a></li>
									<li><a class="col-5" href=""></a></li>
									<li><a class="col-6" href=""></a></li>
									<li><a class="col-7" href=""></a></li>
									<li><a class="col-8" href=""></a></li>
									<li><a class="col-9" href=""></a></li>
									<li><a class="col-10" href=""></a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								  size
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							  <div class="panel-body">
								<ul id="cat_size">
									<li><a href="">xs</a></li>
									<li><a href="">s</a></li>
									<li><a href="">m</a></li>
									<li><a href="">l</a></li>
									<li><a href="">xl</a></li>
									<li><a href="">xxl</a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFive">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								  Brands
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
							  <div class="panel-body">
								<ul id="c_tab2">
									<li><a href="">Tom tailor  (72)</a></li>
									<li><a href="">incult  (14)</a></li>
									<li><a href="">jack & jones  (23)</a></li>
									<li><a href="">locomotive  (62)</a></li>
									<li><a href="">river island  (19)</a></li>
									<li><a href="">Steve madden  (37)</a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingSix">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								  Look
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
							  <div class="panel-body">
								
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingSeven">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								 Style
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
							  <div class="panel-body">
								
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingEight">
							  <h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								 Best Seller
								  <span class="floatright"><i class="fa fa-plus"></i></span>
								</a>
							  </h4>
							</div>
							<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
							  <div class="panel-body">
								
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="main_category_right">
						<div class="row">
							{% for data in data1 %}

							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="main_cat_item">
									<div class="item">
										<div class="item-img">
											{% for data11 in data.image %}
											{% if forloop.counter == 1%}
											<img src="{{data11.image.url}}" alt="" />
											{% endif %}
											{% endfor %}
											<div class="tr-add-cart">
												<ul>
													<li><a class="fa fa-shopping-cart tr_cart"></a></li>
													<li><a class="tr_text" href="#">ADD TO CART</a></li>

												</ul>
											</div>
										</div>
										<div class="item-new">
											<p>New</p>
											<span>-{{data.product_discount}}%</span>
										</div>
										<div class="item-sub">
											<a href="{% url 'myshop:product_details' data.product_slug %}"><h5>{{data.product_title}}</h5></a>
											<h5>{{data.product_name}}</h5>
											<p>${{data.product_price}}<span><del>$ 100</del></span></p>
										</div>
								  </div>
								</div>
							</div>

							{% endfor %}

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="pagi_line"></div>
								<div class="pagi_ul">
									<ul id="pagination">
										<li><a href="">Previous</a></li>
										<li><a href="">1</a></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li><a href="">4</a></li>
										<li><a href="">5 ...</a></li>
										<li><a href="">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

{% endblock %}