{% extends 'htmlbase_layout.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
	<!-- HOME SLIDER -->

	<div class="slider-wrap">
		<div class="fullwidthbanner-container" >
			<div class="fullwidthbanner">
				<ul>
					{% for data in banner_data %}

						{% for sub_data in data.banner_image %}

						  <li data-transition="random" data-slotamount="7" data-masterspeed="1000">

								<img src="{{sub_data.image.url}}" alt="slide" >

								<div class="tp-caption large_black sfr" data-x="120" data-y="160" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
									style="font-size: 70px; font-weight: 700; text-transform: uppercase; color: #212121;font-family: cabin;text-shadow:0px 0px 3px #000;">
									{{data.banner_name}}
								</div>
								<div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
									style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #212121; text-shadow: 0 0 3px #fff">
									get upto {{ data.discount }}% <o></o>0ffer!
								</div>
								<div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="280" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
									style="">
									<img src="{% static 'images/sep-b2.png' %}" alt="" />
								</div>
								<div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="310" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
									style="font-family: cabin Sans; font-size: 15px; font-weight: bold; text-transform: uppercase; color: #232323;">
									LATEST COLLECTION IN YOR RANGE
								</div>
								<div class="tp-caption large_black sfl carousel-caption-inner" data-x="120" data-y="370" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
									style="font-family: cabin Sans; font-size: 13px; font-weight: bold; text-transform: uppercase; color: #232323;border:2px solid #ff6766;padding:10px 20px">
									<a href="">discover Yourself</a>
								</div>
								<div class="tp-caption large_black lft" data-x="720" data-y="0" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
									style="">
<!--									<img src="{% static 'images/tag8.png' %}" alt="" />-->
								</div>
			              </li>

			            {% endfor%}
			        {% endfor %}

				</ul>
			</div>
		</div>
	</div>

	<!-- HOME SLIDER -->
	<div class="call_to_action_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="call_to_action">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="single_call_action">
									<img src="{% static 'images/phone.png' %}" alt="" />
									<p>01 (800) 433 633<br>
									Daily 10.00 to 22.00</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="single_call_action">
									<img src="{% static 'images/world.png' %}" alt="" />
									<p>Fast delivery across <br>
									India</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="single_call_action">
									<img src="{% static 'images/discount.png' %}" alt="" />
									<p>30% discount on order<br>
									over $199</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="single_call_action last_single_call">
									<img src="{% static 'images/return.png'%}" alt="" />
									<p>14-day return policy</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="promotion_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="promo_inner">
						<div class="row">
							{% for data11 in product %}
							{% if forloop.counter <= 5 %}

							<div class="col-md-6 col-sm-6 col-xs-12">

								<div class="promotion_left">
									<div class="promotion_top">
										{% for data12 in data11.images %}
							{% if forloop.counter == 1%}
										<div class="images_box">

											<a href="{% url 'myshop:product_details' data11.product_slug %}"><img src="{{ data12.image.url }}" alt="" width="350" height="250"/></a>
										</div>
											{% endif %}
								{% endfor%}
										<div class="promo_text">
											<a href="{% url 'myshop:product_details' data11.product_slug %}"> <h5>{{ data11.categories }}</h5></a>
											<div class="p_line"></div>
											<a href="{% url 'myshop:subcategory' data11.slug %}">Show More Products <i class="fa fa-caret-right"></i></a>
										</div>
										<div class="hover_images">
											<a href="{% url 'myshop:product_details' data11.product_slug %}" ><img src="{{ data12.image.url  }}" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
							{% endif %}

								{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<section class="featured_product_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="featured_product_box">
					<h2>Featured products</h2>
					<div class="multi_line"></div>


					<div class="row">
						{% for features in feature %}

							{% if forloop.counter <= 5 %}



						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="main_cat_item">
								<div class="item">
									{% for image in features.image %}
									{% if forloop.counter == 1%}
									<div class="item-img">
										<a href="{% url 'myshop:product_details' features.product_slug %}">	<img src="{{image.image.url}}" alt=""/></a>

									</div>
									{% endif %}
									{%endfor%}
									<div class="item-new">
										<p>New</p>
										{% if features.product_discount != None %}
										<span>-{{features.product_discount}}%</span>
										{% endif %}
									</div>

									<div class="item-sub">
										<a href="{% url 'myshop:product_details' features.product_slug %}"><h5>{{features.product_title}}</h5></a>
										<a><h5>{{features.product_name}}</h5></a>
										{% if features.discount_price ==  0 %}

										<a href="{% url 'myshop:product_details' features.product_slug %}"><p>${{features.product_price}}</p></a>

											{% else %}

											<a href="{% url 'myshop:product_details' features.product_slug %}"><p>${{features.discount_price }}</p>
												<span><del>${{features.product_price}}</del></span></a>

											{% endif %}
									</div>
								</div>
							</div>
						</div>

						{% endif %}
						{%endfor%}


					</div>
				</div>
			</div>
		</div>
	</div>

</section>


	<section class="fresh_blog_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="fresh_blog">
					<h2>fresh from the blog</h2>
					<div class="multi_line"></div>

					<div id="blog-caro" class="carousel slide" data-ride="carousel">

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
						  {% for item in blog_item %}
								  {% if forloop.counter == 1  %}
						<div class="item active">
							  <div class="row">
								  <div class="col-md-6 col-sm-6 col-xs-12">
									<div class="fresh_blog_text">
										<h2><span>_</span> {{item.blog_day}} </h2>
										<div class="months">
											<div class="month_right">
												<p>{{item.blog_month}}_	{{item.blog_year}} </p>

											</div>
											<div class="fresh_blog_bottom_text">
												<h4>{{item.blog_title}} </h4>
												<p>{{item.name}}</p>
											</div>
												<div class="view_post">
													<a class="" href="{{item.id.get_absolute_url}}">view post
													<i class="fa fa-long-arrow-right"></i>
													</a>
												</div>

										</div>
									</div>
									<div class="fresh_blog_img">
										<img src="{{ item.blog_image.url }}" width="150" height="100" alt="" />
									</div>
								</div>

							</div>
						</div>
						  {% else %}
						  {% if forloop.counter <= 8 %}
						<div class="item">
							  <div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="fresh_blog_text">
										<h2><span>_</span> {{item.blog_day}} </h2>
										<div class="months">
											<div class="month_right">
												<p>{{item.blog_month}}{{item.blog_year}} </p>

											</div>
											<div class="fresh_blog_bottom_text">
												<h4>{{item.blog_title}} </h4>
												<p>{{item.name}}</p>
												<div class="view_post">
													<a class="" href="">view post
													<i class="fa fa-long-arrow-right"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="fresh_blog_img">
										<img src="{{ item.blog_image.url }}" height="100" width="150" alt="" />
									</div>
								</div>

						</div>
					  </div>
						  {% endif %}
						  {% endif %}
						  {% endfor %}
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#blog-caro" role="button" data-slide="prev">
						<i class='fa fa-angle-left'></i>
					  </a>
					  <a class="right carousel-control" href="#blog-caro" role="button" data-slide="next">
						<i class='fa fa-angle-right'></i>
					  </a>
					</div>



					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonial_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="textimonial_box">
						<img src="{% static 'images/msg.png' %}" alt="" />
						<h2>lovely clients comment</h2>
						<div class="multi_line"></div>

						<div id="testi_carosel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
							<li data-target="#testi_carosel" data-slide-to="0" class="active"></li>
							<li data-target="#testi_carosel" data-slide-to="1"></li>
							<li data-target="#testi_carosel" data-slide-to="2"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
							<div class="item active">
							  <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
								<div class="client_box">
									<img src="{% static 'images/client_qoute.png' %}" alt="" />
									<div class="client_box_text">
										<h4>SAN MICHLE</h4>
										<p>DIRECTOR OF EXAMPLE LTD</p>
									</div>
								</div>
							</div>
							<div class="item">
							  <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
								<div class="client_box">
									<img src="{% static 'images/client_qoute.png' %}" alt="" />
									<div class="client_box_text">
										<h4>SAN MICHLE</h4>
										<p>DIRECTOR OF EXAMPLE LTD</p>
									</div>
								</div>
							</div>
							<div class="item">
							  <p>It’s really Awesome Theme & specialy made for brand online shopping, so this theme uniqe elements use to create your dream website and help to promote your Product.</p>
								<div class="client_box">
									<img src="{% static 'images/client_qoute.png' %}" alt="" />
									<div class="client_box_text">
										<h4>SAN MICHLE</h4>
										<p>DIRECTOR OF EXAMPLE LTD</p>
									</div>
								</div>
							</div>
						  </div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



{% endblock %}

