{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">




   <link rel="stylesheet" href="{% static 'css/style.css' %}" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




  <script src="{% static 'javascript/style.js' %}"></script>
    <title>shopaholic</title>

</head>







<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">SHOPAHOLIC</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">My Profile</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Men wear<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">casual wear</a></li>
            <li><a href="#">traditional wear</a></li>
            <li><a href="#">footware</a></li>

          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Women wear<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">casual wear</a></li>
            <li><a href="#">traditional wear</a></li>
            <li><a href="#">footware</a></li>

          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Kids wear<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">casual wear</a></li>
            <li><a href="#">traditional wear</a></li>
            <li><a href="#">footware</a></li>

          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated%}
        <li><a href="login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        {% else %}
        <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>






{% block content %}

{% endblock %}


</body>
</html>
