Babel==2.6.0
backports.shutil-get-terminal-size==1.0.0
checksum==1.0.2
decorator==4.0.10
Django==2.2
django-extensions==2.1.6
django-multiselectfield==0.1.8
django-multiupload==0.5.2
django-paytm==0.1
django-phonenumber-field==2.4.0
enum34==1.1.6
extensions==0.4
ipython-genutils==0.1.0
pathlib2==2.1.0
pexpect==4.2.1
phonenumbers==8.10.12
pickleshare==0.7.4
Pillow==6.0.0
pkg-resources==0.0.0
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.7.4
pytz==2019.1
reverse==0.1.0
simplegeneric==0.8.1
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.1
wcwidth==0.1.7
