{% extends 'htmlbase_layout.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}


<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="/">home <span>|</span></a></li>
                        <li><a href="{% url 'blogapp:blog_home'%}">blog <span>|</span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="checkout_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="checkout_left">

                    <h2> Edit your Bog </h2>
                    <div class="dotted_line"></div>
                    <form action="{% url 'blogapp:blog_edit' blog.id %}" class="post-form" method="POST"
                          enctype="multipart/form-data">
                        <div class="checkout_form">
                            {%csrf_token%}
                            {{form.as_p}}


                        </div>

                        <button class="btn btn-primary" type="submit">Publish Blog</button>
                    </form>

                    <a href="{% url 'blogapp:delete_blog' blog.id %}">
                        <button class="reply , btn btn-primary " type="submit">Delete Blog</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock%}