<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recent_posts</title>
</head>
<body>


{% for post in latest_post %}
<ul>
    <li>
        <div class="recent_post_text">

            <a href="/blogapp/{{ post.get_absolute_url }}"><h3>
                {{ post.title }}<br>
            </h3></a>
            <p>{{post.date}}</p>
        </div>
        <div class="recent_post_img">
            <a><img src="{{post.image.url}}" alt=""/></a>
        </div>
    </li>
</ul>
{% endfor %}

</body>
</html>


