{% extends 'htmlbase_layout.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}


<section class="main_cart_area">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="main_cart_left">
					<div class="cart_heading">
						<div class="h_item1">
							<p>product</p>
						</div>
						<div class="h_item2">
							<p>Price</p>
						</div>
						<div class="h_item3">
							<p>Size</p>
						</div>
						<div class="h_item4">
							<p>Quantity</p>
						</div>
						<div class="h_item5">
							<p>total</p>
						</div>
					</div>
					{% for item in cart%}

					{% with product=item.product %}

					<div class="cart_item">
						<div class="cart_item_img">
									<a href="{% url 'myshop:product_details' product.slug %}">
										<img src="{{item.image}}" alt="" height="20" width="80" /></a>

							<p>{{product.title}}<br>{{product}}</p>
						</div>
						<div class="cart_price">


							{% if item.discount_price == '0' %}
							<p>${{item.price}}</p>
							{% else %}
							<p>${{item.discount_price}}</p>
							{% endif %}
						</div>
						<div class="cart_size">
							<p>
							</p>

						</div>
						<div class="cart_quantity">
							<ul>
								<li><form action="{% url 'cart:cart_add' product.id%}" method="POST">
									{{item.update_quantity_form.quantity}}
									{{item.update_quantity_form.update}}
									<input type="submit" value="Update">
									{% csrf_token%}
								</form></li>

								<li><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></li>
							</ul>
						</div>
						<div class="cart_total">
							<p>${{item.total_price}}</p>
							<span><i class="fa fa-close"></i></span>
						</div>
					</div>

					{% endwith%}
					{% endfor %}


					<div class="coupon_box">
						<a href="{% url 'cart:coupon_avaliable' %}"><p>coupon available </p></a>
						<form action="{% url 'coupon:apply' %}" method="post">
							{{ coupon_apply_form }}
							<input type="submit" value="apply coupon">
							{% csrf_token %}
						</form>

					</div>
					{% if cart.coupon %}
					<div>
						<form action="{% url 'coupon:remove' %}" method="post">
							{%csrf_token%}
							<input type="submit" value="remove coupon">

						</form>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="main_cart_right">
					<div class="product_form_total">


						<div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne"
										   aria-expanded="true" aria-controls="collapseOne">
											Cart totals
											<span class="floatright"><i class="fa fa-MINUS"></i></span>
										</a>
									</h4>
								</div>

								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
									 aria-labelledby="headingOne">
									<div class="panel-body cart_p_body">
										<div class="c_single_item">
											<p>SubTotal</p>
											<span>${{cart.get_total_price }}</span>
										</div>
										{% if cart.coupon %}
										<div class="c_single_item cart_last_total">
											<p>Coupon Applied </p>
											<span> - ${{ cart.get_discount|floatformat:"2" }}</span>
										</div>
										<div class="c_single_item">
											<p>"{{ cart.coupon.code }}"</p>
											<span>{{ cart.coupon.discount }}% off</span>
										</div>
										{%endif%}
										<div class="c_total_item sp_single_item">
											<p>Total</p>
											<span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
                  <a href="{% url 'cart:checkout'  %}"><input type="submit" value="Proceed to checkout"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}