{% extends 'htmlbase_layout.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}


	<div class="breadcumb_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="bread_box">
						<ul class="breadcumb">
							<li><a href="{% url 'myshop:home' %}">home <span>|</span></a></li>
							<li><a href="{% url 'cart:cart_detail' %}">Cart <span>|</span></a></li>
							<li class="active"><a >checkout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<form action="{% url 'cart:checkout' %}" method="POST">
	<section class="checkout_area">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="checkout_left">
						<h2>Billing Address</h2>
						<div class="dotted_line"></div>

						<div class="checkout_form">
							{%csrf_token%}
    						{{checkout.as_p}}


						</div>


					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="checkout_right">
						<h4>Review of Your Order</h4>

						<div class="product_form_total">
							<div class="c_main_item">
								<p>Product</p>
								<span>Total</span>
							</div>
							{% for item in cart %}

							<div class="c_single_item">
								<p>{{item.product}} x {{item.quantity}}</p>

								{% if item.discount_price == '0' %}
								<span>${{item.price}}</span>
								{% else %}
								<span>${{item.discount_price}}</span>
								{% endif %}
							</div>
							{% if cart.coupon %}
							<div class="c_single_item cart_last_total">
								<p>Coupon Applied </p>
								<span> - ${{ cart.get_discount|floatformat:"2" }}</span>
							</div>
							<div class="c_single_item">
								<p>"{{ cart.coupon.code }}"</p>
								<span>{{ cart.coupon.discount }}% off</span>
							</div>
							{% endif %}
							{% endfor %}


							<div class="c_total_item sp_single_item">
								<p>Order Total</p>
								<span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
							</div>
							<div class="c_payment">
								<p>Select Payment Method</p>
								<select class="selectpicker sel_state">
									<option>COD</option>

								</select>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" required > I have Read & Accept <span>Terms & Conditions</span>
								</label>
							</div>
							<input type="submit" value="Place order now"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
	{% endblock %}
